{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}
<div class="row">
    <div class="col-md-6">
    <p>
        <a href="{{ url_for('main.choose_player', player1=player1.player_id,player2=player2.player_id) }}">
        <img src="{{ img1 }}" onerror="this.src='static/img/0.png'" width="256" height="256">
        </a>
        <br>
        Name: {{ player1.short_name }}<br>
        Club: {{ player1.club }}<br>
        Country: {{ player1.country }}<br>
    </p>
    </div>

    <div class="col-md-6">
    <p>
        <a href="{{ url_for('main.choose_player', player1=player2.player_id,player2=player1.player_id)}}">
        <img src="{{ img2 }}" onerror="this.src='static/img/0.png'" width="256" height="256">
        </a>
        <br>
        Name: {{ player2.short_name }}<br>
        Club: {{ player2.club }}<br>
        Country: {{ player2.country }}<br>
    </p>
    </div>
</div>
{% endblock %}