{% extends "base.html" %}

{% block content %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ player1.short_name }}<br>
        {{ form.choose_player1(size=32) }}<br>
        {% for error in form.choose_player1.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ player2.short_name }}<br>
        {{ form.choose_player2(size=32) }}<br>
        {% for error in form.choose_player2.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
{% endblock %}